.gradle
build/
logs/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/
temp-clone/.gitignore
temp-clone/.travis.yml
temp-clone/LICENSE.md
temp-clone/README.md
temp-clone/build.gradle
temp-clone/deploy_website.sh
temp-clone/docs/
temp-clone/etc/
temp-clone/gradle.properties
temp-clone/gradle/
temp-clone/gradlew
temp-clone/gradlew.bat
temp-clone/mkdocs.yml
temp-clone/settings.gradle
temp-clone/vaultaire-example/build.gradle
temp-clone/vaultaire-example/src/
temp-clone/vaultaire-processor/
temp-clone/vaultaire/
